        </main>
        <footer>
            <br><br>
            <p>Editado en: <a href="https://code.visualstudio.com/">Visual Studio Code</a></p>
        </footer>
        <script src="/scripts/vendor/jquery.js"></script>
        <script src="/scripts/vendor/what-input.js"></script>
        <script src="/scripts/vendor/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>