<!DOCTYPE html>
<html class = "no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Laboratorios</title>
        <link rel="stylesheet" href="/css/foundation.css" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <div class="top-bar" id="responsive-menu">
                <li><img id="logo" src="/video/splatoon-kirby.gif" alt="Imágen aquí"></li>
                <div class="top-bar-left">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li><a href="/">Home</a></li>
                        <li><a href="/preguntas">Preguntas</a></li>
                        <li><a href="/validar">Validador de contraseñas</a></li>
                        <li><a href="/armas_lista">Lista de armas</a></li>
                        <li><a href="/armas_lista/crear">Crear arma</a></li>
                    </ul>
                </div>
            </div>
            <p id = "intro">Juan Carlos calderón García | A01625694 | a01625696@tec.mx</p>
        </header>
        <main class="grid-container">