*{
    font-family: Arial;
}

p, h1, h2, h4, a{
    padding: 0.5em;
}

img{
    width: 100%;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    background-color: aliceblue;
}

img:hover{
    border-style: solid;
    border-color: rgb(188, 255, 255);
    background-color: rgb(229, 236, 242);
}

#intro{
    font-size: 12px;
}

.char_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5vw;
    align-items: center;
    padding: 2vw;
}

.char{
    width: 25%;
}

p.char{
    width: 65%;
    text-align: justify;
}