<!DOCTYPE html>
<html>
    <head>
        <title>404 No encontrado</title>
    </head>
    <body>
        <h2>404 NO ENCONTRADO</h2>
        <p>
            La página no se ha encontrado
        </p>
    </body>
</html>