<%- include('includes/head.ejs'), {username: username} %>
    <div class="primary callout">
        <h1><% if (registro){ %>Registrate<% }else{ %>Bienvenido!<% } %></h1>

        <form action="/users/<% if (registro){ %>signup<% }else{ %>login<% } %>" method="POST">
            <% if (registro){ %>
                <div class="input-group">
                    <label class="input-group-field" for="Nombre">Nombre Completo: 
                        <input class="input-group-button" id="Nombre" name="Nombre" type="text" required>
                    </label>
                </div>
                <label for="Username">Nombre de usuario: 
                    <input id="Username" name="Username" type="username" required>
                </label>
                <label for="Contrasena">Contraseña: 
                    <input id="Contrasena" name="Contrasena" type="password" required>
                </label>
            <% }else{ %>
                <label for="Username">Nombre de usuario: 
                    <input id="Username" name="Username" type="username" required>
                </label>
                <label for="Contrasena">Contraseña: 
                    <input id="Contrasena" name="Contrasena" type="password" required>
                </label>
            <% } %>
            <button type="submit" class="success button" id="submit" value="Arma">Confirmar</button>
        </form>
    </div>
<%- include('includes/footer.ejs') %>